<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.NotificationMapper">
    <update id="updateById">
        UPDATE notification
        <set>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="description != null">description = #{description},</if>
            <if test="isRead != null">is_read = #{isRead},</if>
            <if test="sendTime != null">send_time = #{sendTime},</if>
            <if test="deleted != null">deleted = #{deleted}</if>
        </set>
        WHERE id = #{id}
    </update>
    <select id="selectAll" resultType="com.example.entity.Notification">
        select * from notification
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="userId != null">
                and user_id = #{userId}
            </if>
            <!-- 模糊搜索 description 字段 -->
            <if test="description != null and description != ''">
                and description like CONCAT('%', #{description}, '%')
            </if>
            <if test="isRead != null">
                and is_read = #{isRead}
            </if>
            <if test="sendTime != null">
                and send_time = #{sendTime}
            </if>
            <if test="deleted != null">
                and deleted = #{deleted}
            </if>
        </where>
    </select>

</mapper>