<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.NotificationMapper">
    <update id="updateById">
        UPDATE notification
        <set>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="description != null">description = #{description},</if>
            <if test="isRead != null">is_read = #{isRead},</if>
            <if test="sendTime != null">send_time = #{sendTime},</if>
            <if test="deleted != null">deleted = #{deleted}</if>
        </set>
        WHERE id = #{id}
    </update>
    <select id="selectAll" resultType="com.example.entity.Notification">
        SELECT n.*, u.username as username from notification n
        left join user u on n.user_id = u.id
        <where>
            <if test="id != null">
                and n.id = #{id}
            </if>
            <if test="userId != null">
                and n.user_id = #{userId}
            </if>
            <if test="description != null and description != ''">
                and n.description like CONCAT('%', #{description}, '%')
            </if>
            <if test="username != null and username != ''">
                and u.username like CONCAT('%', #{username}, '%')
            </if>
            <if test="isRead != null">
                and n.is_read = #{isRead}
            </if>
            <if test="sendTime != null">
                and n.send_time = #{sendTime}
            </if>
            <if test="deleted != null">
                and n.deleted = #{deleted}
            </if>
        </where>
    </select>

</mapper>